body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}
*{
    margin:0px;
    padding:0px;
}
header{
   
    background-color: rgb(39, 39, 92);
    width:100vw;
    text-align:center;
    height:100px;

    
}
section{
    margin-top:30px;
   padding:15px;
    border-radius:20px;
    border:2px solid rgb(108, 101, 101);
    margin-left:10px;
}
section ul li{
    margin-left:15px;
}
footer{
    background-color:rgb(39, 39, 92);
    margin-top:5px;
    height:100px;
}